GRACE_imx278_liteon=/system/etc/camera/davinci/imx278/
GRACE_imx278_lg=/system/etc/camera/davinci/imx278/
GRACE_imx278_sunny=/system/etc/camera/davinci/imx278/
GRACE_imx179=/system/etc/camera/davinci/imx179_front/
GRACE_ov8865=/system/etc/camera/davinci/ov8865_front/
PLK_imx179_liteon=/system/etc/camera/davinci/imx179_front_plk/
PLK_imx179_sunny=/system/etc/camera/davinci/imx179_front_plk/
PLK_imx230_lg=/system/etc/camera/davinci/imx230/
PLK_imx230_liteon=/system/etc/camera/davinci/imx230/
PLK_imx230_sunny=/system/etc/camera/davinci/imx230/
GEMINI_imx328=/system/etc/camera/davinci/imx328/
GEMINI_ov13850=/system/etc/camera/davinci/ov13850/
GEMINI_ov5648_x1s=/system/etc/camera/davinci/ov5648_x1s/
GEMINI_s5k4e1ga=/system/etc/camera/davinci/s5k4e1ga/
DAVINCI_ov5648_x1s=/system/etc/camera/davinci/ov5648_x1s/
DAVINCI_s5k4e1ga=/system/etc/camera/davinci/s5k4e1ga/
DAVINCI_imx278_liteon=/system/etc/camera/davinci/imx278/
DAVINCI_imx278_lg=/system/etc/camera/davinci/imx278/
DAVINCI_imx278_sunny=/system/etc/camera/davinci/imx278/
MOZART_ov8858=/system/etc/camera/davinci/ov8858/
MOZART_imx219=/system/etc/camera/davinci/imx219/
MOZART_ov2680=/system/etc/camera/davinci/ov2680/
MOZART_mt9d015=/system/etc/camera/davinci/mt9d015/
CARRERA_imx179_liteon=/system/etc/camera/davinci/imx179_front/
CARRERA_imx179_sunny=/system/etc/camera/davinci/imx179_front/
CARRERA_imx278_liteon=/system/etc/camera/davinci/imx278/
CARRERA_imx278_lg=/system/etc/camera/davinci/imx278/
CARRERA_imx278_sunny=/system/etc/camera/davinci/imx278/
LITTLEBOY_imx278_liteon=/system/etc/camera/davinci/imx278/
LITTLEBOY_imx278_lg=/system/etc/camera/davinci/imx278/
LITTLEBOY_imx278_sunny=/system/etc/camera/davinci/imx278/
LITTLEBOY_imx179=/system/etc/camera/davinci/imx179_front/
LITTLEBOY_ov8865=/system/etc/camera/davinci/ov8865_front/
