GRACE_imx179=/system/etc/camera/tornado/imx179_front/
GRACE_imx278_lg=/system/etc/camera/tornado/imx278_lg/
GRACE_imx278_liteon=/system/etc/camera/tornado/imx278_liteon/
GRACE_imx278_sunny=/system/etc/camera/tornado/imx278_sunny/
GRACE_ov8865=/system/etc/camera/tornado/ov8865/
DAVINCE_imx278_lg=/system/etc/camera/tornado/imx278_lg/
DAVINCE_imx278_liteon=/system/etc/camera/tornado/imx278_liteon/
DAVINCE_imx278_sunny=/system/etc/camera/tornado/imx278_sunny/
DAVINCE_ov5648=/system/etc/camera/tornado/ov5648/
PLK_imx179_liteon=/system/etc/camera/tornado/imx179_front_plk_liteon/
PLK_imx179_sunny=/system/etc/camera/tornado/imx179_front_plk_sunny/
PLK_imx230_lg=/system/etc/camera/tornado/imx230_lg/
PLK_imx230_liteon=/system/etc/camera/tornado/imx230_liteon/
PLK_imx230_sunny=/system/etc/camera/tornado/imx230_sunny/
MOZART_ov8858=/system/etc/camera/tornado/ov8858/
MOZART_imx219=/system/etc/camera/tornado/imx219/
MOZART_ov2680=/system/etc/camera/tornado/ov2680/
MOZART_mt9d015=/system/etc/camera/tornado/mt9d015/
CARRERA_imx179_liteon=/system/etc/camera/tornado/imx179_front/
CARRERA_imx179_sunny=/system/etc/camera/tornado/imx179_front/
CARRERA_imx278_lg=/system/etc/camera/tornado/imx278_lg/
CARRERA_imx278_liteon=/system/etc/camera/tornado/imx278_liteon/
CARRERA_imx278_sunny=/system/etc/camera/tornado/imx278_sunny/
CARRERA_ov8865=/system/etc/camera/tornado/ov8865/
GEMINI_ov13850=/system/etc/camera/tornado/ov13850/
GEMINI_ov5648=/system/etc/camera/tornado/ov5648/
LITTLEBOY_imx179=/system/etc/camera/tornado/imx179_front/
LITTLEBOY_imx278_lg=/system/etc/camera/tornado/imx278_lg/
LITTLEBOY_imx278_liteon=/system/etc/camera/tornado/imx278_liteon/
LITTLEBOY_imx278_sunny=/system/etc/camera/tornado/imx278_sunny/
LITTLEBOY_ov8865=/system/etc/camera/tornado/ov8865/