GRACE_imx278_liteon=/system/etc/camera/hwscope/GRACE_imx278/
GRACE_imx278_lg=/system/etc/camera/hwscope/GRACE_imx278/
GRACE_imx278_sunny=/system/etc/camera/hwscope/GRACE_imx278/
CARRERA_imx278_liteon=/system/etc/camera/hwscope/CARRERA_imx278/
CARRERA_imx278_lg=/system/etc/camera/hwscope/CARRERA_imx278/
CARRERA_imx278_sunny=/system/etc/camera/hwscope/CARRERA_imx278/
DAVINCE_imx278_liteon=/system/etc/camera/hwscope/GRACE_imx278/
DAVINCE_imx278_lg=/system/etc/camera/hwscope/GRACE_imx278/
DAVINCE_imx278_sunny=/system/etc/camera/hwscope/GRACE_imx278/
PLK_imx230_liteon=/system/etc/camera/hwscope/PLK_imx230/
PLK_imx230_sunny=/system/etc/camera/hwscope/PLK_imx230/
PLK_imx230_lg=/system/etc/camera/hwscope/PLK_imx230/
LITTLEBOY_imx278_liteon=/system/etc/camera/hwscope/GRACE_imx278/
LITTLEBOY_imx278_lg=/system/etc/camera/hwscope/GRACE_imx278/
LITTLEBOY_imx278_sunny=/system/etc/camera/hwscope/GRACE_imx278/