ov8865_rear=/system/etc/camera/bshutter/ov8865/
imx179_rear=/system/etc/camera/bshutter/imx179/
GRACE_imx278=/system/etc/camera/bshutter/imx278/
GRACE_imx278_lg=/system/etc/camera/bshutter/imx278/
GRACE_imx278_liteon=/system/etc/camera/bshutter/imx278/
GRACE_imx278_sunny=/system/etc/camera/bshutter/imx278/
DAVINCE_imx278=/system/etc/camera/bshutter/imx278/
DAVINCE_imx278_lg=/system/etc/camera/bshutter/imx278/
DAVINCE_imx278_liteon=/system/etc/camera/bshutter/imx278/
DAVINCE_imx278_sunny=/system/etc/camera/bshutter/imx278/
PLK_imx230=/system/etc/camera/bshutter/imx230/
PLK_imx230_lg=/system/etc/camera/bshutter/imx230/
PLK_imx230_liteon=/system/etc/camera/bshutter/imx230/
PLK_imx230_sunny=/system/etc/camera/bshutter/imx230/
CARRERA_imx278_liteon=/system/etc/camera/bshutter/imx278/
CARRERA_imx278_lg=/system/etc/camera/bshutter/imx278/
CARRERA_imx278_sunny=/system/etc/camera/bshutter/imx278/
LITTLEBOY_imx278=/system/etc/camera/bshutter/imx278/
LITTLEBOY_imx278_lg=/system/etc/camera/bshutter/imx278/
LITTLEBOY_imx278_liteon=/system/etc/camera/bshutter/imx278/
LITTLEBOY_imx278_sunny=/system/etc/camera/bshutter/imx278/