GRACE_imx179=/system/etc/camera/hwldc/imx179_front_liteon/
GRACE_ov8865=/system/etc/camera/hwldc/imx179_front_sunny/
PLK_imx179_liteon=/system/etc/camera/hwldc/imx179_front_plk_liteon/
PLK_imx179_sunny=/system/etc/camera/hwldc/imx179_front_plk_sunny/
CARRERA_imx179_liteon=/system/etc/camera/hwldc/imx179_front_liteon/
CARRERA_imx179_sunny=/system/etc/camera/hwldc/imx179_front_sunny/
LITTLEBOY_imx179_front_liteon=/system/etc/camera/hwldc/imx179_front_liteon/
LITTLEBOY_imx179_front_sunny=/system/etc/camera/hwldc/imx179_front_sunny/
LITTLEBOY_imx179=/system/etc/camera/hwldc/imx179_front/
LITTLEBOY_ov8865=/system/etc/camera/hwldc/imx179_front/