GRACE_imx278_liteon=/system/etc/camera/smartae/imx278_liteon/
GRACE_imx278_sunny=/system/etc/camera/smartae/imx278_sunny/
GRACE_imx278_lg=/system/etc/camera/smartae/imx278_lg/
PLK_imx230_liteon=/system/etc/camera/smartae/imx230_liteon/
PLK_imx230_sunny=/system/etc/camera/smartae/imx230_sunny/
PLK_imx230_lg=/system/etc/camera/smartae/imx230_lg/
CARRERA_imx278_liteon=/system/etc/camera/smartae/imx278_liteon/
CARRERA_imx278_sunny=/system/etc/camera/smartae/imx278_sunny/
CARRERA_imx278_lg=/system/etc/camera/smartae/imx278_lg/
DAVINCE_imx278_liteon=/system/etc/camera/smartae/imx278_liteon/
DAVINCE_imx278_sunny=/system/etc/camera/smartae/imx278_sunny/
DAVINCE_imx278_lg=/system/etc/camera/smartae/imx278_lg/
LITTLEBOY_imx278_liteon=/system/etc/camera/smartae/imx278_liteon/
LITTLEBOY_imx278_sunny=/system/etc/camera/smartae/imx278_sunny/
LITTLEBOY_imx278_lg=/system/etc/camera/smartae/imx278_lg/
GEMINI_ov13850=/system/etc/camera/smartae/ov13850/